In [1]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

### Vectoriser et netoyer les données

In [2]:
import pandas as pd
sms = pd.read_csv('SMSSpamCollection.txt', sep='\t', names=["labbel", "message"])
print(len(sms))
sms.head(10)

5572

  labbel                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
6    ham  Even my brother is not like to speak with me. ...
7    ham  As per your request 'Melle Melle (Oru Minnamin...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...

In [3]:
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
corpus = list(sms.message)
targets = list(sms.labbel)
targets = [1 if x == 'ham' else 0 for x in targets]
#print(corpus)

In [5]:
stop_words = nltk.corpus.stopwords.words("english")
#vectorizer = CountVectorizer()
vectorizer = CountVectorizer(stop_words = stop_words)

In [6]:
X = vectorizer.fit_transform(corpus)
print(X.shape)
print(len(corpus))
print(len(vectorizer.get_feature_names()))

(5572, 8577)
5572
8577

le type python de données après vectorisation est binaire

In [37]:
df = pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names())
df

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
s = df.sum()
f = df.sum()/sum(df.sum())
grouped = pd.concat([s, f], axis=1)
grouped.columns = ['somme', 'frequence']
Y = grouped.sort_values('somme',ascending=False)
# les 10 mots les plus fréquent 
Y[:10]

      somme  frequence
call    593   0.011937
get     391   0.007871
ur      391   0.007871
gt      318   0.006401
lt      316   0.006361
ok      293   0.005898
free    284   0.005717
go      283   0.005697
know    262   0.005274
good    247   0.004972

In [26]:
# les 10 mots les moins fréquent 
Y[-10:]

          somme  frequence
haul          1    0.00002
hcl           1    0.00002
havn          1    0.00002
haventcn      1    0.00002
havebeen      1    0.00002
havbeen       1    0.00002
hava          1    0.00002
hav2hear      1    0.00002
haunt         1    0.00002
〨ud           1    0.00002

#### tfidvectorizer

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer1 = TfidfVectorizer(stop_words = stop_words)
X1 = vectorizer1.fit_transform(corpus)
print(X1.shape)
print(len(corpus))
print(len(vectorizer1.get_feature_names()))

(5572, 8577)
5572
8577

In [41]:
df1 = pd.DataFrame(X1.toarray(), columns = vectorizer.get_feature_names())

In [42]:
s1 = df1.sum()
f1 = df1.sum()/sum(df.sum())
grouped1 = pd.concat([s1, f1], axis=1)
grouped1.columns = ['somme', 'frequence']
Y1 = grouped1.sort_values('somme',ascending=False)
# les 10 mots les plus fréquent 
Y1[:10]

           somme  frequence
call  109.811224   0.007417
ok    100.245038   0.006771
get    77.347322   0.005224
come   64.025684   0.004324
gt     63.148229   0.004265
lt     62.806693   0.004242
ur     62.587818   0.004227
good   58.231678   0.003933
know   57.354179   0.003874
go     56.324979   0.003804

In [43]:
# les 10 mots les moins fréquent 
Y1[-10:]

                 somme  frequence
companion     0.077239   0.000005
listener      0.077239   0.000005
organizer     0.077239   0.000005
chef          0.077239   0.000005
venaam        0.077239   0.000005
sympathetic   0.077239   0.000005
psychologist  0.077239   0.000005
aaniye        0.077239   0.000005
psychiatrist  0.077239   0.000005
courageous    0.077239   0.000005

## Apprentissage

### CountVectorizer

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

x_train, x_test, y_train, y_test = train_test_split(X, targets, test_size=0.2, random_state=42)

print("x_train :", np.size(x_train))
print("x_test :", np.size(x_test))
print("ratio :", round(np.size(x_test)/(np.size(x_train)+np.size(x_test))*100))

x_train : 37884
x_test : 9486
ratio : 20

#### Logistic Regression

In [28]:
logistic_regression1 = LogisticRegression(max_iter =1000)
logistic_regression1.fit(x_train, y_train)

# Prediction
pred = logistic_regression1.predict(x_test)

# percent score
score = logistic_regression1.score(x_test, y_test)
print(round(score, 3))

0.986

In [29]:
# Presision score and recall 
from  sklearn.metrics import precision_score, recall_score

print('Precision : ', round(precision_score(y_test, pred,average='micro'), 3))
print('Recall : ', round(recall_score(y_test, pred, average='micro'), 3))

Precision :  0.986
Recall :  0.986

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      0.89      0.94       149
           1       0.98      1.00      0.99       966

    accuracy                           0.99      1115
   macro avg       0.99      0.95      0.97      1115
weighted avg       0.99      0.99      0.99      1115

In [31]:
f1score = f1_score(y_test, pred, pos_label = 0)
print('f1_score sur ham', round(f1_score(y_test, pred), 3))
print('f1_score sur spam : ', round(f1score, 3))

f1_score sur ham 0.992
f1_score sur spam :  0.943

#### SVM

In [47]:
from sklearn.multiclass import OneVsOneClassifier
from sklearn.svm import LinearSVC

logistic_reg = OneVsOneClassifier(LinearSVC())
logistic_reg.fit(x_train, y_train)
logistic_reg.predict(x_test)

score = logistic_reg.score(x_test, y_test)
print('Socre : ',round(score, 3))

from  sklearn.metrics import precision_score, recall_score

print('Precision : ', round(precision_score(y_test, pred,average='micro'), 3))
print('Recall : ', round(recall_score(y_test, pred, average='micro'), 3))

Socre :  0.985
Precision :  0.986
Recall :  0.986

In [48]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      0.89      0.94       149
           1       0.98      1.00      0.99       966

    accuracy                           0.99      1115
   macro avg       0.99      0.95      0.97      1115
weighted avg       0.99      0.99      0.99      1115

In [63]:
#test
print(logistic_reg.predict(X[2]))
print(logistic_reg.predict(X[5571]))

[0]
[1]

### TFID

In [52]:
x_train1, x_test1, y_train1, y_test1 = train_test_split(X1, targets, test_size=0.2, random_state=42)

print("x_train :", np.size(x_train))
print("x_test :", np.size(x_test))
print("ratio :", round(np.size(x_test)/(np.size(x_train)+np.size(x_test))*100))

x_train : 37884
x_test : 9486
ratio : 20

#### Logistic Regression

In [55]:
logistic_regression1 = LogisticRegression(max_iter =1000)
logistic_regression1.fit(x_train1, y_train1)

# Prediction
pred1 = logistic_regression1.predict(x_test1)

# percent score
score = logistic_regression1.score(x_test1, y_test1)
print(round(score, 3))

0.959

In [56]:
# Presision score and recall 
from  sklearn.metrics import precision_score, recall_score

print('Precision : ', round(precision_score(y_test1, pred,average='micro'), 3))
print('Recall : ', round(recall_score(y_test1, pred1, average='micro'), 3))

Precision :  0.959
Recall :  0.959

In [57]:
print(classification_report(y_test1, pred1))

              precision    recall  f1-score   support

           0       0.99      0.70      0.82       149
           1       0.96      1.00      0.98       966

    accuracy                           0.96      1115
   macro avg       0.97      0.85      0.90      1115
weighted avg       0.96      0.96      0.96      1115

In [58]:
f1score1 = f1_score(y_test1, pred1, pos_label = 0)
print('f1_score sur ham', round(f1_score(y_test1, pred1), 3))
print('f1_score sur spam : ', round(f1score1, 3))

f1_score sur ham 0.977
f1_score sur spam :  0.819

#### SVM

In [59]:
logistic_reg = OneVsOneClassifier(LinearSVC())
logistic_reg.fit(x_train, y_train)
logistic_reg.predict(x_test)

score = logistic_reg.score(x_test1, y_test1)
print('Score : ',round(score, 3))

print('Precision : ', round(precision_score(y_test1, pred,average='micro'), 3))
print('Recall : ', round(recall_score(y_test1, pred1, average='micro'), 3))

Socre :  0.981
Precision :  0.959
Recall :  0.959

In [60]:
print(classification_report(y_test1, pred1))

              precision    recall  f1-score   support

           0       0.99      0.70      0.82       149
           1       0.96      1.00      0.98       966

    accuracy                           0.96      1115
   macro avg       0.97      0.85      0.90      1115
weighted avg       0.96      0.96      0.96      1115

In [64]:
#test
print(logistic_reg.predict(X1[2]))
print(logistic_reg.predict(X1[5571]))

[0]
[1]

### Cross Validation

In [90]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
from sklearn import svm
from sklearn.metrics import f1_score

rs = ShuffleSplit(n_splits=10, test_size=.20, random_state=42)
rs.get_n_splits(X)

kernel = 'linear'
logistic_reg  = svm.SVC(kernel=kernel, gamma=2)


targets = np.array(targets).reshape(-1, 1)

scores_spam = []
scores_ham = []

for train_index, test_index in rs.split(X):
    x_train, x_test = X[train_index], X[test_index]
    y_train, y_test = targets[train_index], targets[test_index]

    logistic_reg.fit(x_train, y_train)
    pred = logistic_reg.predict(x_test)
    
    score_spam = f1_score(y_test, pred, pos_label=0)
    score_ham = f1_score(y_test, pred)
    
    scores_spam.append(score_spam)
    scores_ham.append(score_ham)

print('Moyenne des 10 scores ham :', round(np.mean(score_ham), 3))
print('Moyenne des 10 scores Spam : ', round(np.mean(scores_spam),3))
print('Ecart type du score f1 ham :', round(np.std(scores_ham), 3))
print('Ecart type du score f1 spam :', round(np.std(scores_spam), 3))

Moyenne des 10 scores ham : 0.987
Moyenne des 10 scores Spam :  0.927
Ecart type du score f1 ham : 0.003
Ecart type du score f1 spam : 0.016